* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-logo-wrapper {
  background-color: rgb(29, 32, 34);
  padding: 0;
  margin: 0;
}

.logo {
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
}

.nav {
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  height: 150px;
}
.bootstrap-portfolio {
  text-align: right;
  color: white;
  /* margin-top: 150px; */
  padding: 1rem;
  font-weight: bolder;
}
.image {
  width: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-image{
    background-color:rgb(29, 32, 34) ; 
    background-image: url(../images/profile-image.jpeg);
    background-size: contain;
    min-height: 250px;
    background-repeat: no-repeat;
    margin: 0.5rem auto;
    
    background-position: bottom;
    /* border-top-left-radius: 30px; */
    /* border-top-right-radius: 30px; */
    border-top: solid white 2px;
    border-bottom: solid white 1px;
    
} 
.profile-image img{
    border-radius: 25px;
}

.title{
    color: white;
    padding: 1rem;
}


.jumbotron{
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    height: 150px;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    
    
   
}
.hero-row-item1{
    padding: 0;
}
.jumbotron h1{
    background-color: rgb(29, 32, 34);
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem;
}
#contact ul {
  align-items: center;
  /* color: white; */
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
#about p {
  padding-left: 2rem;
}
.about-me-list {
  display: inline;
  margin-left: 1rem;
  text-align: center;
}

#work-tiles {
  gap: 2rem;
            
}
section {
  width: 100%;
  padding: 1rem 0;
}
.col {
  width: 100%;
}

section {
  background-color: rgba(0, 0, 9, 0.9);
}
.section-name {
  color: white;
}
section h2 {
  border-bottom: aliceblue solid 5px;
  padding: 1rem;
  border-top: aliceblue solid 1px;
  margin-top: 0.5rem;
}


@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
  .section-name {
    text-align: center;
  }
  .about-me-list {
    /* text-align: center; */
    display: block;
    margin-left: 1rem;
    text-align: center;
  }

  #contact ul {
    display: flex;
    flex-direction: row;
  }
}
/* Boot strap class modified */
.container-fluid{
    padding: 0;
}
.card {
    padding: 0;
    color: black;
  }
